[pfsense]
ip = YOUR_PFSENSE_IP
api_key = YOUR_API_KEY

port = 443 # Optional: Specify the port if not 443 (e.g., 20443)
# Set to true if you have a valid SSL certificate on your pfSense instance
verify_ssl = false
# Set to true to use https, false to use http
use_https = false

[auth]
username = admin
password_hash = your_hashed_password